@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    h2{
        @apply font-semibold font-[normal] text-3xl
    }
    p{
        @apply font-[normal] text-justify font-medium text-lg
    }
    h4{
        @apply font-[normal] text-2xl font-thin
    }
    li{
        @apply font-[normal] text-lg font-thin py-2


    }
}

@layer components {
    .read-more{
        @apply bg-gray-300 font-semibold hover:bg-slate-500 hover:text-yellow-50  py-2 px-4 border-spacing-1 rounded-lg text-lg  
    }
}

@layer utilities {
    .text-gradient-to-r {
      background-clip: text;
      color: transparent;
    }
    
    .text-gradient-to-r.from-pink-500 {
      background-image: linear-gradient(to right, #fuchsia, #fuchsia);
    }
  
    .text-gradient-to-r.via-red-500 {
      background-image: linear-gradient(to right, #fuchsia, #red);
    }
  
    .text-gradient-to-r.to-pink-500 {
      background-image: linear-gradient(to right, #red, #fuchsia);
    }
  }